{% extends 'base.html' %}
{% block content %}

    





<div class="container">
  <div class="row">
     <div class="col-12">
        <div class="breadcrumb-wrap p-3 bg-white my-4 rounded">
           <nav>
              <ol class="d-flex">
                 <li><a href="/">خانه</a></li>
                 <li>{{ post.title }}</li>
              </ol>
           </nav>
        </div>
     </div>
  </div>
</div>
<section class="mb-5">
  <div class="container">
     <div class="row">
        <div class="col-lg-9">
           <article>
              <div class="section-top-single bg-white rounded p-3">
                 <div class="row">
                    <div class="col-md-7">
                       <figure>
                          <img src="/{{post.image}}" alt="" class="img-thumbnail d-table mx-auto">
                       </figure>
                    </div>
                    <div class="col-md-5">
                       <div class="border rounded p-3 mb-3">
                          <h1 class="border-bottom"> چرا قالب های ما رایگان هستند ؟</h1>
                          <ul class="detail-single d-flex">
                             <li><i class="bi bi-instagram p-1"></i></li>
                             <li><i class="bi bi-clock p-1"></i>{{post.date}}</li>
                          </ul>
                          <div class="text-start">
                             <span><i class="bi bi-chat"></i> 12 دیدگاه</span>
                          </div>
                       </div>
                       <div class="border rounded p-3 single-excerpt-box">
                          <span class="d-block py-2 text-info">خلاصه مطلب</span>
                          <p class="m-0">{{ post.snippet}}</p>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="content-single rounded bg-white p-3 mt-3">
                <p>{{ post.body |safe}}</p>
              </div>
              <div class="rounded bg-white p-3 mt-3">
                 <div class="comments-box">
                    <div class="cm-parent rounded bg-light p-3 mb-3">
                       <div class="row">
                          <div class="col-1">
                             <img src="/static/assets/img/userAvatar.png" alt="">
                          </div>
                          <div class="col-11">
                             <p><span class="d-inline-block text-primary ps-2">جواهری :</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                             <div class="text-start">
                                <span class="d-inline-block mt-2 py-1 text-info px-2">
                                <i class="bi bi-calendar2-event"></i> 23 مرداد
                                </span>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="cm-chlid me-5 border border-dark-50 rounded p-3 mb-3">
                       <div class="row">
                          <div class="col-1">
                             <img src="img/userAvatar.png" alt="">
                          </div>
                          <div class="col-11">
                             <p><span class="d-inline-block text-primary ps-2">مدیر سایت :</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                             <div class="text-start">
                                <span class="d-inline-block mt-2 py-1 text-info px-2">
                                <i class="bi bi-calendar2-event"></i> 23 مرداد
                                </span>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="cm-parent rounded bg-light p-3 mb-3">
                       <div class="row">
                          <div class="col-1">
                             <img src="/static/assets/img/userAvatar.png" alt="">
                          </div>
                          <div class="col-11">
                             <p><span class="d-inline-block text-primary ps-2">Farzad :</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                             <div class="text-start">
                                <span class="d-inline-block mt-2 py-1 text-info px-2">
                                <i class="bi bi-calendar2-event"></i> 23 مرداد
                                </span>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="cm-chlid me-5 border border-dark-50 rounded p-3 mb-3">
                       <div class="row">
                          <div class="col-1">
                             <img src="img/userAvatar.png" alt="">
                          </div>
                          <div class="col-11">
                             <p><span class="d-inline-block text-primary ps-2">امید :</span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                             <div class="text-start">
                                <span class="d-inline-block mt-2 py-1 text-info px-2">
                                <i class="bi bi-calendar2-event"></i> 23 مرداد
                                </span>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="comment-form-rules mb-3 mt-5">
                    <div class="row">
                       <div class="col-md-6">
                          <form class="comment-form">
                             <h6 class=" pb-3 border-bottom mb-3"><i class="bi bi-chat-right-text"></i> در بهبود مقاله شریک باشید</h6>
                             <div class="row">
                                <div class="col-12 mb-2">
                                   <input type="email"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ایمیل شما (الزامی)">
                                </div>
                                <div class="col-12 mb-2">
                                   <input type="text" id="exampleInput" placeholder="نام شما">
                                </div>
                             </div>
                             <div class="col-12"><textarea class=" w-100" rows="5"></textarea></div>
                             <div class="text-start">
                                <button type="submit">ارسال</button>
                             </div>
                          </form>
                       </div>
                       <div class="col-md-6">
                          <div class="commemt-rules">
                             <h6 class=" pb-3 border-bottom mb-3"><i class="bi bi-chat-right-text"></i> قوانین ارسال دیدگاه</h6>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </article>
        </div>
        <div class="col-lg-3 mt-4 mt-lg-0">
           <aside>
              <div class="sidebar-wrap">
                 <div class="side-box-cats bg-white rounded p-3 mb-3">
                    <span class="d-block my-3 border-right title position-relative"><i class="bi bi-archive"></i> دسته بندی</span>
                    <ul class="list-group list-group-flush">
                       <li class="list-group-item"><a href="#"> اینستاگرام</a><span class="counter">32</span></li>
                       <li class="list-group-item"><a href="#"> طراحی سایت</a><span class="counter">12</span></li>
                       <li class="list-group-item"><a href="#"> مجله روز</a><span class="counter">112</span></li>
                       <li class="list-group-item"><a href="#"> گزارش تصویری</a><span class="counter">12</span></li>
                       <li class="list-group-item"><a href="#"> سینما</a><span class="counter">2</span></li>
                    </ul>
                 </div>
                 <div class="side-box-cats bg-white rounded p-3 mb-3">
                    <span class="d-block my-3 border-right title position-relative"><i class="bi bi-chat-right-text"></i> مطالب اخیر</span>
                    <ul class="list-group list-group-flush">
                       <li class="list-group-item"><a href="#">چرا باید به فکر کاهش وزن بود ؟</a></li>
                       <li class="list-group-item"><a href="#">چگونه بدون سرمایه میلیاردر شدم</a></li>
                       <li class="list-group-item"><a href="#">خرید آیفون 10 یا نوت ؟</a></li>
                       <li class="list-group-item"><a href="#">برای سلامتی اولین قدم را بردار</a></li>
                       <li class="list-group-item"><a href="#">10 مقاله برتر در زمینه مراقبت پوست</a></li>
                       <li class="list-group-item"><a href="#">چگونه بدون سرمایه میلیاردر شدم</a></li>
                       <li class="list-group-item"><a href="#">خرید آیفون 10 یا نوت ؟</a></li>
                       <li class="list-group-item"><a href="#">برای سلامتی اولین قدم را بردار</a></li>
                    </ul>
                 </div>
              </div>
           </aside>
        </div>
     </div>
  </div>
</section>
{% endblock %}
